---
import Cube from '../components/Cube.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout>

	<!-- <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))"> -->
	<div style="display: flex; flex-wrap: wrap;">
		<Cube move="F1"/><Cube move="F2"/><Cube move="F3"/>
		<Cube move="U1"/><Cube move="U2"/><Cube move="U3"/>
		<Cube move="R1"/><Cube move="R2"/><Cube move="R3"/>
		<Cube move="D1"/><Cube move="D2"/><Cube move="D3"/>
		<Cube move="L1"/><Cube move="L2"/><Cube move="L3"/>
		<Cube move="B1"/><Cube move="B2"/><Cube move="B3"/>
	</div>
</Layout>
